:root {
    /* Primary colours */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral colours */
    --vd-blue: hsl(234, 12%, 34%); /* Very Dark Blue */
    --g-blue: hsl(229, 6%, 66%); /* Grayish Blue */
    --vl-gray: hsl(0, 0%, 98%); /* Very Light Gray */
}

/* Mobile Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    background: var(--vl-gray);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 90%;
    text-align: center;
    margin: 2rem 1rem 0 1rem;
    padding: 1rem;
    padding-top: 3rem;
}

.header h1 {
    font-weight: 200;
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
}

.header h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.header p {
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--g-blue);
    padding: 1rem;
}

.cards {
    width: 90%;
    margin-bottom: 3rem;
}

.card {
    background: #ffffff;
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: 0 0 20px var(--vd-blue);
    border-radius: 5px;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.25rem;
}

.card p {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1rem;
    color: var(--g-blue);
    padding: 0.25rem;
}

.card .icon {
    display: flex;
    justify-content: right;
}

.card img {
    padding: 1rem;
}

.col-left .card {
    border-top: 5px solid var(--cyan);
}

.col-mid .card-red {
    border-top: 5px solid var(--red);
}

.col-mid .card-orange {
    border-top: 5px solid var(--orange);
}

.col-right .card {
    border-top: 5px solid var(--blue);
}

/* Desktop Styling */